body {
	font-family: 'Open Sans', sans-serif;
}
* {
	box-sizing: border-box;
}
.header {
	background: #f5f5f5;
	height: 100vh;
}
.top_row {
	padding-top: 82px;
}
.gumb_btn {
	display: block;
	height: 20px;
	width: 34px;
	position: relative;
}
.gumb_btn span,
.gumb_btn span::after,
.gumb_btn span::before  {
	display: block;
	position: absolute;
	height: 4px;
	width: 34px;
	background: #706b73;
	border-radius:1.5px;
	transform: translateY(8px);
}
.gumb_btn span::after {
	content: "";
	transform: translateY(8px);
		transition: all .3s ease;
}
.gumb_btn span::before {
	content: "";
	transform: translateY(-8px);
	transition: all .3s ease;
}
.gumb_btn_active span::before {
	transform: rotate(45deg);
}
.gumb_btn_active span::after {
	transform: rotate(-45deg);
}
.gumb_btn_active span {
	height: 0;
}
.logo {
	text-lign: left;
}
.nav {
	text-align: right;
	margin-top: 17.2px;
}
.h1 {
	font-size: 50px;
	font-weight: 600;
	color: #626262;
	opacity: .94
}
.Smart_style, .send_style {
	color:#fc6744;
}
.smart_agency {
	text-align: center;
	margin-top: 140px;
}
.lorem {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	opacity: .65;
	margin-top: 30px;
}
.form_place {
	width: 372px;
	background: #fff;
	margin-top: 108px;
	border-radius: 2px;
}
.send_msg {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	opacity: .9;
	text-align: center;
	padding-top: 24px;
}
