body {
	font-family: 'Open Sans', sans-serif;
}
* {
	box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.header {
	background: #f5f5f5;
}
.top_row {
	padding-top: 82px;
}
.gumb_btn {
	display: block;
	height: 20px;
	width: 34px;
	position: absolute;
	top: 108px;
	right: 0;
}
.gumb_btn span,
.gumb_btn span::after,
.gumb_btn span::before  {
	display: block;
	position: absolute;
	height: 4px;
	width: 34px;
	background: #706b73;
	border-radius:1.5px;
	transform: translateY(8px);
}
.gumb_btn span::after {
	content: "";
	transform: translateY(8px);
}
.gumb_btn span::before {
	content: "";
	transform: translateY(-8px);
}
.logo {
	float: left;
}
.h1 {
	font-size: 50px;
	font-weight: 600;
	color: #626262;
	opacity: .94
}
.Word_Style {
	color:#fc6744;
}
.smart_agency {
	text-align: center;
	margin-top: 140px;
}
.lorem {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	opacity: .65;
}
.lorem1{
	margin-top: 30px;
}
.form_place {
	width: 372px;
	background: #fff;
	margin-top: 108px;
	border-radius: 2px;
	box-shadow: 0 0 57px rgba(0,0,0, .2);
}
.send_msg {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	opacity: .9;
	text-align: center;
	padding-top: 24px;
}
.form {
	padding: 0 38px;
	margin-top: 40px;
}
.form input {
	width: 100%;
	outline:none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #c7c7c7;
    margin-bottom: 30px;
    padding:6px 0;
}
.form textarea {
	resize: none;
    overflow: auto;
	outline:none;
    border-color: #c7c7c7;
    border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #c7c7c7;
	width: 100%;
	height: 85px;
}

.btn {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 92px;
	transition: all .3s ease;
} 
.btn button:hover {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.21);
}
.btn button {
	color: #fff;
	background:#ff5c36;
	width: 238px;
	height: 55px;
	font-size: 16px;
	border-radius: 27px;
	transition: all .3s ease;
}
.btn img {
	margin-left: 15px;
}
.btn button:hover {
	background:#f35833;
}
.btn button:focus {
	background:#f35833;
	outline: none;
}
.h2W {
	font-size: 50px;
	font-weight: 600;
	opacity: .8;
}
.headline1 {
	text-align: center;
	margin-top: 140px;

}
.bloks_row {
	margin-top: 60px;
	margin-bottom: 175px;
}
.block_link {
	height: 262px;
	width: 100%;
	margin-top: 50px;
	position: relative;
	transition: all .5s ease;
	text-align: center;
}
.b1 {
	background: #4eb2f7;
}
.b2 {
	background: #c049f8;
}
.b3 {
	background: #817eff;
}
.b4 {
	background: #f74770;
} 
.know {
	text-align: center;
	height: 55px;
	width: 87%;
	position: absolute;
	background: #fff;
	border-radius: 27px;
	top: 232px;
	left: 50%;
    transform: translate(-50%, 0);
   -webkit-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
}
.know_text {
	color:#737373;
	margin-left: 10px
}
.block_link:hover {
	-webkit-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.21);
	box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.21);
	border-radius: 3%;
}
.fa-magnet, .fa-bug, .fa-cogs, .fa-camera-retro {
	font-size: 50px;
	color: #fff;
	opacity: .8;
	padding-top: 50px;
	padding-bottom: 15px;
}
.fa-camera-retro {
	transform: rotate(-15deg);
}
.textB {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	opacity: .9;
}
.loremB {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	opacity:0.75;
	padding:0 16%;
}

.works {
	background: #fbfbfb;
}
.headline2 {
	text-align: center;
	padding-top: 120px;
	margin-bottom: 110px;
}
.h2F {
	font-size: 50px;
	font-weight: 600;
	opacity: .8;
}
.orange_block {
	width: 100%;
	height: 360px;
	background:#ff5c36;
	margin-bottom: 30px;
}
.col_with_orange {
	display: flex;
	justify-content: center;
}
.orange_row {
	padding-bottom: 150px;
}
.title {
	text-align: center;
	margin-top: 132px;
	margin-bottom: 125px;
}
.title h2 {
	opacity: .8;
	font-size: 50px;
	font-weight: 600;
}
.title p {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	opacity: .5;
}
.cont_img {
	background:#fbfbfb;
	width: 105px;
	height: 92px;
	display:flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 7px;
	transition: .3s ease;
	z-index: 2;
}
.cont_img:hover {
	background:#fff;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.2);
	box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 0.2);
	z-index: 1;
}
.text_col h3 {
	opacity: .75;
	font-size: 30px;
}
.text_col p {
	font-size: 16px;
	opacity: .7;
}
.hr {
	width: 57px;
	height: 3px;
	background: #ff5c36;
	border:0px none;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}
.top_p {
	margin-bottom: 30px;
}
.more {
	margin-top: 40px;
	width: 222px;
	text-align: center;
	height: 55px;
	background: #fff;
	border-radius: 27px;
	-webkit-box-shadow: -2px 11px 20px 0px rgba(50, 50, 50, 0.07);
	-moz-box-shadow:-2px 11px 20px 0px rgba(50, 50, 50, 0.07);
	box-shadow:-2px 11px 20px 0px rgba(50, 50, 50, 0.07);
	border: 1px solid rgba(0,0,0,.07);
}
.wrap_img {
	display: flex;
	justify-content: center;
	margin-left: 88px;	
}