body {
	font-family: 'Open Sans', sans-serif;
}
* {
	box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.header {
	background: #f5f5f5;
}
.top_row {
	padding-top: 82px;
}
.gumb_btn {
	display: block;
	height: 20px;
	width: 34px;
	position: absolute;
	top: 108px;
	right: 0;
}
.gumb_btn span,
.gumb_btn span::after,
.gumb_btn span::before  {
	display: block;
	position: absolute;
	height: 4px;
	width: 34px;
	background: #706b73;
	border-radius:1.5px;
	transform: translateY(8px);
}
.gumb_btn span::after {
	content: "";
	transform: translateY(8px);
}
.gumb_btn span::before {
	content: "";
	transform: translateY(-8px);
}
.logo {
	float: left;
}
.h1 {
	font-size: 50px;
	font-weight: 600;
	color: #626262;
	opacity: .94
}
.Word_Style {
	color:#fc6744;
}
.smart_agency {
	text-align: center;
	margin-top: 140px;
}
.lorem {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	opacity: .65;
}
.lorem1{
	margin-top: 30px;
}
.form_place {
	width: 372px;
	background: #fff;
	margin-top: 108px;
	border-radius: 2px;
	box-shadow: 0 0 57px rgba(0,0,0, .2);
}
.send_msg {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	opacity: .9;
	text-align: center;
	padding-top: 24px;
}
.form {
	padding: 0 38px;
	margin-top: 40px;
}
.form input {
	width: 100%;
	outline:none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #c7c7c7;
    margin-bottom: 30px;
    padding:6px 0;
}
.form textarea {
	resize: none;
    overflow: auto;
	outline:none;
    border-color: #c7c7c7;
    border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #c7c7c7;
	width: 100%;
	height: 85px;
}

.btn {
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 92px;
	transition: all .3s ease;
} 
.btn button:hover {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.21);
	box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.21);
}
.btn button {
	color: #fff;
	background:#ff5c36;
	width: 238px;
	height: 55px;
	font-size: 16px;
	border-radius: 27px;
	transition: all .3s ease;
}
.btn img {
	margin-left: 15px;
}
.btn button:hover {
	background:#f35833;
}
.btn button:focus {
	background:#f35833;
	outline: none;
}
.h2W {
	font-size: 50px;
	font-weight: 600;
	opacity: .8;
}
.headline1 {
	text-align: center;
	margin-top: 140px;

}
.bloks_row {
	margin-top: 60px;
	margin-bottom: 175px;
}
.block_link {
	height: 262px;
	width: 100%;
	margin-top: 50px;
	position: relative;
	transition: all .5s ease;
	text-align: center;
}
.b1 {
	background: #4eb2f7;
}
.b2 {
	background: #c049f8;
}
.b3 {
	background: #817eff;
}
.b4 {
	background: #f74770;
} 
.know {
	text-align: center;
	height: 55px;
	width: 87%;
	position: absolute;
	background: #fff;
	border-radius: 27px;
	top: 232px;
	left: 50%;
    transform: translate(-50%, 0);
   -webkit-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
}
.know_text {
	color:#737373;
	margin-left: 10px
}
.block_link:hover {
	-webkit-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.21);
	box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.21);
	border-radius: 3%;
}
.fa-magnet, .fa-bug, .fa-cogs, .fa-camera-retro {
	font-size: 50px;
	color: #fff;
	opacity: .8;
	padding-top: 50px;
	padding-bottom: 15px;
}
.fa-camera-retro {
	transform: rotate(-15deg);
}
.textB {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	opacity: .9;
}
.loremB {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	opacity:0.75;
	padding:0 16%;
}

.works {
	background: #fbfbfb;
}
.headline2 {
	text-align: center;
	padding-top: 120px;
	margin-bottom: 110px;
}
.h2F {
	font-size: 50px;
	font-weight: 600;
	opacity: .8;
}
.orange_block {
	width: 100%;
	height: 360px;
	background:#ff5c36;
	margin-bottom: 30px;
}
.col_with_orange {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.orange_row {
	padding-bottom: 150px;
}
.title {
	text-align: center;
	margin-top: 132px;
	margin-bottom: 125px;
}
.title h2 {
	opacity: .8;
	font-size: 50px;
	font-weight: 600;
}
.title p {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	opacity: .5;
}
.cont_img {
	background:#fbfbfb;
	width: 105px;
	height: 92px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 7px;
	transition: .5s ease;
	z-index: 2;
}
.cont_img:hover {
	background:#fff;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.2);
	box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 0.2);
	z-index: 1;
}
.text_col h3 {
	opacity: .75;
	font-size: 30px;
}
.text_col p {
	font-size: 16px;
	opacity: .7;
}
.hr {
	width: 57px;
	height: 3px;
	background: #ff5c36;
	border:0px none;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}
.top_p {
	margin-bottom: 30px;
}
.more {
	margin-top: 40px;
	width: 222px;
	text-align: center;
	height: 55px;
	background: #fff;
	border-radius: 27px;
	-webkit-box-shadow: -2px 11px 20px 0px rgba(50, 50, 50, 0.07);
	-moz-box-shadow:-2px 11px 20px 0px rgba(50, 50, 50, 0.07);
	box-shadow:-2px 11px 20px 0px rgba(50, 50, 50, 0.07);
	border: 1px solid rgba(0,0,0,.07);
}
.wrap_img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-left: 88px;	
}
.team {
	background: #fbfbfb;
}
.title_team {
	text-align: center;
	margin-top: 140px;
	margin-bottom: 77px;
}
.title_team h3 {
	opacity: 0.8;
	color: #000000;
	font-size: 50px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.title_team p {
	opacity: 0.5;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	margin-top: 18px;
}
.cont_box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.team_box {
	width: 360px;
	height: 445px;
	box-shadow: 0 0 2px rgba(20, 20, 21, 0.6);
	background-color: #ff5c36;
	margin-top: 50px;
	position: relative;
}
.row_with_team_box {
	padding-bottom: 177px;
}
.nameplate {
	width: 262px;
	height: 95px;
	box-shadow: 1px 6px 16px rgba(20, 20, 21, 0.08);
	border-radius: 2px;
	background-color: #ffffff;
	position: absolute;
	top: 374px;
	left: 50%;
    transform: translate(-50%, 0);
    text-align: center;	

}
.name {
	opacity: 0.7;
	color: #000000;
	font-size: 30px;
	font-weight: 400;
	margin-top: 21px;
	margin-bottom: 0;
}
.scills {
	opacity: 0.7;
	color: #000000;
	font-size: 16px;
	font-weight: 300;
}
.mid_box {
	box-shadow: 0 0 49px rgba(20, 20, 21, 0.11);
	background-color: #fff3f0;
	position: relative;
}
.scill_chart {
 margin-top: 178px;

}
.chart {
	width: 151px;
height: 4px;
border-radius: 2px;
background-color: #817f7e;
}
.first_percent {
	width: 123px;
height: 4px;
border-radius: 2px;
background-color: #ff6e47;
}
.explanation {
color: #000000;
font-size: 11px;
font-weight: 400;
margin: 0;
padding: 0;
}
.scill {
	width: 151px;
	text-align: center;
}
.second_percent {
	width: 109px;
height: 4px;
border-radius: 2px;
background-color: #ff6e47;	
}
.third_percent {
	width: 118px;
height: 4px;
border-radius: 2px;
background-color: #ff6e47;
}
.mid_box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.name_box {
	opacity: 0.85;
	color: #202020;
	font-size: 30px;
	font-weight: 400;
	margin-top: 81px;	
	text-align: center;
	margin-bottom:0;
}
.scill_box {
	opacity: 0.9;
	color: #ff724c;
	font-size: 17px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-align: center;
}
.fa-twitter, .fa-facebook-f {
opacity: 0.3;
color: #010202;
font-size: 16px;
}
.icon_row { 
	position: absolute;
	text-outline: 413px;
	left: 50%;
    transform: translate(-50%, 0);
	width: 70px;
	display: flex;
	justify-content: space-around;
	margin-top: 16px;
}
.Services {
	padding-bottom: 178px;
}
.clients-said h1 {
	opacity: 0.8;
	color: #000;
	font-size: 50px;
	font-weight: 400;
}
.clients-said {
	margin-top: 137px;
	margin-bottom: 139px;
}
.clients-said p {
	opacity: 0.5;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
}
.review-block {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 503px;
	height: 271px;
	box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
	border-radius: 1px;
	background-color: #ffffff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.avatar {
	width: 99px;
	height: 99px;
	box-shadow: 0 0 0 rgba(20, 20, 21, 0.38);
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	top:-45px;
}
.h {
	height: 1000px;
	background: lightgrey;
}
.slide {
	margin-bottom: 300px;
}
.comment {
	text-align: center;
	margin-top:25px;
	padding:0 30px	;
}
.stars img{
	margin: 0;
	padding: 0;
}
.name-job {
	opacity: 0.8;
	color: #000000;
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	margin-top: 5px;
}
.strong {
	font-weight: 600;
}
.carousel-indicators li {
	width: 18px;
	height: 6px;
	border-radius: 3px;
	background-color: #e0e0e0;
	transition: all .3s ease;
}
.carousel-indicators .active {
	background-color: #ff6e47;
	border-radius: 3px;
}
.carousel-control-prev, .carousel-control-next {
	width: 48px;
	height: 48px;
	box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.08);
	background-color: #ffffff;
	border-radius: 50%;
	top: 113px;
}
.carousel-control-prev {
	left:-50px;
}
.carousel-control-next {
	right: -50px;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background-color: #ff6e47;
}
.col-img {
	padding: 77px 0;
}
.partners {
	background-color: #fbfbfb;
}
.contact-us {
	background-color: #f7f7f7;
}
.contact-btn {
	text-align: center;
	height: 55px;
	width: 238px;
	background: #fff;
	border-radius: 27px;
   -webkit-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.05);
	margin-top: 44px;
	margin-bottom: 50px;
}
.icons {
	width: 259px;
}
.icons-circle {
	width: 53px;
	height: 52px;
	background-color: #d3d3d3;
	border-radius: 50%;
	transition: all .3s ease;
}
.icons-circle:hover {
	box-shadow: 0 0 23px rgba(20, 20, 21, 0.29);
	background-color: #ff6e47;;
}
.footer {
	height: 55px;
	margin-bottom: 55px;
}
.URtext p {
	padding: 20px 25px 18px 25px;
}
.mycarusel {
height: 400px;
padding-top: 50px;
}