* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.header {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(../img/header_bg.png);
  background-size: cover;
}

.header .bg-dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.header .top-nav {
  position: relative;
  height: 175px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header .top-nav .links {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .top-nav .links li {
  list-style-type: none;
}

.header .top-nav .links li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header .top-nav .links li a:hover {
  color: #B40000;
}

.header .top-nav .links li .two_lines {
  position: relative;
}

.header .top-nav .links li .two_lines p:last-child {
  font-size: 25px;
  margin-top: -10px;
}

.header-text {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 255px;
}

.header-text .h2 {
  font-size: 36px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.header-text .h1 {
  font-size: 68px;
  font-weight: 400;
  color: #ffffff;
  line-height: 68px;
  text-align: center;
}

.header-text .h1 span {
  color: #B40000;
}

.header-text .lorem {
  font-size: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  max-width: 550px;
  text-align: center;
  margin-top: 25px;
}

.header .icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: pulsing 4s infinite;
  animation: pulsing 4s infinite;
}

.header .icon .fa-angle-double-down {
  font-size: 55px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 200px;
}

.heros {
  padding-top: 80px;
  position: relative;
  padding-bottom: 140px;
}

.heros .bird {
  position: absolute;
  top: 20px;
  right: 40px;
}

.heros .bird .fa-dove {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  font-size: 670px;
  color: rgba(0, 0, 0, 0.1);
}

.heros_text {
  text-align: center;
  font-size: 44px;
  font-weight: 600;
  color: #000;
}

.heros .hr {
  background: #707070;
  width: 1580px;
  height: 1px;
  margin: auto;
  margin-top: 50px;
}

.heros .owl-carousel {
  position: relative;
}

.heros .owl-carousel .owl-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 180px;
}

.heros .owl-carousel .owl-item .item .main {
  width: 560px;
  border: 3px solid #707070;
  border-radius: 15px;
  padding: 25px 30px;
  padding-bottom: 0;
  max-height: 830px;
}

.heros .owl-carousel .owl-item .item .main .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 490px;
}

.heros .owl-carousel .owl-item .item .main .carousel-hr {
  margin: 0 auto;
  margin-top: 18px;
  width: 100%;
  height: 1px;
  background-color: #707070;
}

.heros .owl-carousel .owl-item .item .main .awards {
  padding: 0 40px;
}

.heros .owl-carousel .owl-item .item .main .awards p {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #B40000;
  text-align: center;
  margin-top: 5px;
}

.heros .owl-carousel .owl-item .item .main .awards ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heros .owl-carousel .owl-item .item .main .awards ul .award {
  list-style: none;
  margin-right: 20px;
  margin-bottom: 25px;
  max-width: 79px;
  max-height: 80px;
}

.heros .owl-carousel .owl-item .item .main .awards ul .award:last-child {
  margin-right: 0;
}

.heros .owl-carousel .owl-item .item .main .awards ul .problem-img {
  width: 45px;
}

.heros .owl-carousel .owl-item .item .about {
  border: 3px solid #707070;
  width: 950px;
  border-radius: 15px;
  margin-left: 40px;
  padding: 15px 40px;
  max-height: 830px;
}

.heros .owl-carousel .owl-item .item .about .name {
  font-size: 48px;
  font-weight: 700;
  color: #B40000;
  text-align: center;
}

.heros .owl-carousel .owl-item .item .about .about-text {
  font-size: 22px;
  font-style: italic;
  margin-top: 17px;
  text-align: center;
}

.heros .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heros .owl-carousel .owl-dots .owl-dot {
  border: none;
  outline: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: #B40000 solid 1px;
  margin-right: 10px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.heros .owl-carousel .owl-dots .owl-dot:active {
  border: none;
  outline: none;
}

.heros .owl-carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.heros .owl-carousel .owl-dots .owl-dot.active {
  background-color: #B40000;
}

.heros .owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: 57%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  border: none;
  outline: none;
}

.heros .owl-carousel .owl-nav .owl-next:active {
  border: none;
  outline: none;
}

.heros .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 42%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  border: none;
  outline: none;
}

.heros .owl-carousel .owl-nav .owl-prev:active {
  border: none;
  outline: none;
}

.heros .owl-carousel .owl-nav i {
  color: #B40000;
  font-size: 32px;
}

.prisoners .prisoners-bg {
  position: relative;
}

.prisoners .prisoners-bg .bg-text {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5);
}

.prisoners .prisoners-bg .parallax-window {
  width: 100%;
  min-height: 750px;
  background: transparent;
}

.prisoners .prisoners-text {
  padding: 0 170px;
}

.prisoners .prisoners-text .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prisoners .prisoners-text .about p {
  font-size: 24px;
  font-style: italic;
}

.prisoners .prisoners-text .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.w666 {
  max-width: 666px;
}

.w700 {
  max-width: 700px;
}

.w790 {
  max-width: 790px;
}

.w740 {
  max-width: 740px;
}

.end-text {
  font-size: 28px;
  max-width: 475px;
  margin-right: 40px;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}
/*# sourceMappingURL=main.css.map */