// Большие девайсы (большие десктопы, < 1200px)
@media (max-width:1199.98px) 
    .tabs-forms .tabs .content
        height: auto
        .tabs__content.active form
            flex-wrap: wrap
            .form-inp
                margin-bottom: 15px
            


// Средние девайсы («таблетки», < 992px) 
@media (max-width:991.98px)
// Малые девайсы («ландшафтные», < 768px)
@media (max-width:767.98px) 
    .hamburger
        display: block
        outline: none
        background: none
    .header .menubar .menu-list
        display: none
    .header .topbar .social
        display: none
    .header .topbar
        justify-content: center
    .full-menu
        display: block


// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width:575.98px) 
    .header .header-text
        margin-top: 100px
        p, .h1
            text-align: center
    .header .header-text .btn
        margin: 0 auto
        margin-top: 35px
    .full-menu
        padding: 60px 5px
        .full-menu__list
            padding: 15px
        .full-menu__social
            padding: 15px
            margin-top: 15px
    .ds
        display: none
    .header .topbar .composition .adress .mob
        display: inline-block

@media (max-width:360px)
    .header .header-text
        margin-top: 40px
        .phone
            margin-bottom: 10px
        .h1
            font-size: 26px
    .header .topbar .composition .login
        margin-left: 15px
    .full-menu
        padding: 60px 5px
        .full-menu__list
            padding: 15px
            a
                height: 40px
                font-size: 22px
                line-height: 40px
        .full-menu__social
            .social-list
                height: 40px
                a
                    line-height: 40px
                    font-size: 22px
        .full-menu__social
            padding: 15px
            margin-top: 15px
            .social-list
                padding: 0 10px
    .tabs-forms .tabs .content .tabs__content.active form .btn
        position: relative
        margin-top: 50px
        button
            transform: rotate(0)
    .tabs-forms .tabs .tabs__caption li
        width: 70px





