@media screen and (max-width:1199px) {
    body {
        .team__nameplates {
            justify-content: center;
            .nameplate, .nameplate-active  {
                margin-bottom: 5rem;
            }
            .nameplate-active {
                margin-left: 3rem;
            }


        }
    }
}
@media screen and (max-width:992px) {
    body {

        .services__about-icons {
            flex-direction: row;
            margin-bottom: 5rem;
        }
    }
}
