* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Oswald', sans-serif;
   overflow: hidden;
}


// Header
.header {
   background: #00474c;
   width: 100%;
   height: 100vh;

   // bg_decoration
   .rightbg {
      background-image: url(../img/rightbackground.png);
      position: absolute;
      right: 0;
      top: 0;
      width: 1154px;
      height: 1080px;
      z-index: 0;
   }

   .midlogo {
      background-image: url(../img/midlogo.png);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 55%;
      top: 50%;
      width: 987px;
      height: 346px;
      z-index: 0;
   }

   .textbg {
      background-image: url(../img/textbg.png);
      position: absolute;
      right: 36px;
      bottom: -40px;
      width: 330px;
      height: 600px;
      z-index: 0;
   }

   .leftdots {
      background-image: url(../img/leftdots.png);
      position: absolute;
      left: 9px;
      top: 170px;
      width: 307px;
      height: 404px;
      z-index: 0;
   }

   .topdots {
      background-image: url(../img/topdots.png);
      position: absolute;
      top: 0;
      right: 117px;
      width: 307px;
      height: 160px;
      z-index: 0;
   }
}

// top_nav
.top_nav {
   position: relative;
   padding: 0 170px;
   padding-top: 35px;
   display: flex;
   justify-content: space-between;

   .logo {
      width: 150px;
      height: 53px;
   }

   .navigation_list {
      display: flex;
      align-items: center;

      li {
         font-size: 26px;
         color: #ffffff;
         margin-right: 40px;
         list-style: none;

         a {
            transition: 0.5s;
            text-decoration: none;
            color: #ffffff;

            &:hover {
               color: #f2b153;
            }
         }

         &:last-child {
            margin-left: 0;
         }
      }

   }

   .btn_cart {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
      width: 61px;
      height: 61px;
      transition: 0.5s;
      text-decoration: none;

      i {
         font-size: 34px;
         color: #000;
         text-decoration: none;
         display: block;
      }

      .notice {
         top: 5px;
         right: 5px;
         transform: translate(50%, -50%);
         font-size: 16px;
         color: #ffffff;
         position: absolute;
         background: #00474c;
         width: 25px;
         height: 25px;
         border-radius: 50%;
         text-align: center;
      }

      &:hover {
         box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
      }
   }

}

// main_shoes-slider
.main_shoes-slider {
   position: relative;
   margin-top: 80px;

   .owl-carousel {
      .owl-item {

         &.active {

            .item {
               opacity: 1 !important;
            }

            .name_wrapper {
               left: 0 !important;
            }

            .shoe_img {
               left: 0 !important;
            }
         }

         .item {
            opacity: 0;
            display: flex;
            padding: 0 170px;
            transition: 1.5s;

            .name_wrapper {
               position: relative;
               left: -200%;
               margin-right: 60px;
               transition: 0.5s;
               transition-delay: 0.7s;

               .name {
                  max-width: 355px;
                  font-size: 110px;
                  font-weight: 700;
                  line-height: 110px;
                  color: #ffffff;
               }

               .price {
                  font-size: 60px;
                  font-weight: 700;
                  color: #f2b153;
                  margin-top: 20px;
               }

               .btn {
                  margin-top: 40px;
                  width: 220px;
                  height: 50px;
                  border: 4px solid rgba(255, 255, 255, 0.30);
                  border-radius: 25px;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  font-size: 19px;
                  font-weight: 700;
                  color: #ffffff;
                  text-decoration: none;
                  transition: 0.5s;
                  line-height: 19;

                  i {
                     font-size: 30px;
                  }

                  &:hover {
                     border: 4px solid rgba(255, 255, 255, 0.50);
                  }
               }
            }

            .shoe_img {
               position: relative;
               left: -30%;
               transition: 0.5s;
               transition-delay: 0.6s;

               img {
                  min-width: 550px;
                  max-width: 640px;
               }
            }

            .color_btns {
               transform: translateY(-103%);
               display: flex;
               flex-direction: column;
               position: absolute;
               top: 333px;
               left: 75%;
               transition: 0.5s;
               transition-delay: 0.6s;

               button {
                  opacity: 0.9;
                  margin-bottom: 25px;
                  border: none;
                  background-color: #fff;
                  min-width: 60px;
                  height: 60px;
                  border-radius: 25px;
                  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
                  transition: 0.5s;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &:hover {
                     box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
                     opacity: 1;
                  }

                  &:last-child {
                     margin: 0;
                  }

                  .circle-color {
                     width: 30px;
                     height: 30px;
                     border-radius: 50%;
                     box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
                  }
               }
            }
         }
      }
   }

   .owl-dots {
      z-index: 9999;
      background-image: url(../img/line.png);
      width: 79px;
      height: 499px;
      position: absolute;
      top: 0%;
      left: 67%;

      .owl-dot {
         cursor: pointer;
         width: 12px;
         height: 12px;
         position: absolute;
         top: 50%;
         right: -2px;
         transform: translate(50%);
         transform-origin: -480px 0 0;
         background-color: #fff;
         border-radius: 50%;
         border: none;
         background-clip: content-box;
         box-sizing: content-box;
         border: none;
         outline: none;

         .active-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transform: translateX(-30%) translateY(-30%);
            transition: 0.7s ease;
         }

         &.active {
            outline: none;
            border: none;

            .active-circle {
               border: 2px solid #ffffff;
            }
         }

         &:nth-child(1) {
            transform-origin: -481px 0 0;
            transform: rotate(-20deg);
         }

         &:nth-child(2) {
            transform-origin: -481px 0 0;
            transform: rotate(-10deg);
         }

         &:nth-child(3) {
            right: 4px;
         }

         &:nth-child(4) {
            transform-origin: -481px 0 0;
            transform: rotate(10deg);
         }

         &:nth-child(5) {
            transform-origin: -481px 0 0;
            transform: rotate(20deg);
         }
      }

   }
}


// Styles
button#black {
   .circle-color {
      background-color: #000000;
   }
}

button#blue {
   .circle-color {
      background-color: #00378a;
   }
}

button#yellow {
   .circle-color {
      background-color: #f3e039;
   }
}

button#red {
   .circle-color {
      background-color: #ff7074;
   }
}

button#lblue {
   .circle-color {
      background-color: #00c2ec;
   }
}

button#pink {
   .circle-color {
      background-color: #df86ad;
   }
}

button#purple {
   .circle-color {
      background-color: #755f83;
   }
}

button#gold {
   .circle-color {
      background-color: #c6a14f;
   }
}



//  Animations
@keyframes IN {
   0% {
      transform: rotate(-90deg);
   }

   60% {
      transform: rotate(0.5deg);
   }

   80% {
      transform: rotate(-0.5deg);
   }

   100% {
      transform: rotate(0deg);
   }
}

.OUT {
   transform-origin: -480px 0 0;
   -webkit-animation-name: IN;
   animation-name: IN;
}

@keyframes OUT {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(90deg);
   }
}

.IN {
   transform-origin: -480px 0 0;
   -webkit-animation-name: OUT;
   animation-name: OUT;
}