* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

.header {
  background: #00474c;
  width: 100%;
  height: 100vh;
}

.header .rightbg {
  background-image: url(../img/rightbackground.png);
  position: absolute;
  right: 0;
  top: 0;
  width: 1154px;
  height: 1080px;
  z-index: 0;
}

.header .midlogo {
  background-image: url(../img/midlogo.png);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 55%;
  top: 50%;
  width: 987px;
  height: 346px;
  z-index: 0;
}

.header .textbg {
  background-image: url(../img/textbg.png);
  position: absolute;
  right: 36px;
  bottom: -40px;
  width: 330px;
  height: 600px;
  z-index: 0;
}

.header .leftdots {
  background-image: url(../img/leftdots.png);
  position: absolute;
  left: 9px;
  top: 170px;
  width: 307px;
  height: 404px;
  z-index: 0;
}

.header .topdots {
  background-image: url(../img/topdots.png);
  position: absolute;
  top: 0;
  right: 117px;
  width: 307px;
  height: 160px;
  z-index: 0;
}

.top_nav {
  position: relative;
  padding: 0 170px;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_nav .logo {
  width: 150px;
  height: 53px;
}

.top_nav .navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_nav .navigation_list li {
  font-size: 26px;
  color: #ffffff;
  margin-right: 40px;
  list-style: none;
}

.top_nav .navigation_list li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

.top_nav .navigation_list li a:hover {
  color: #f2b153;
}

.top_nav .navigation_list li:last-child {
  margin-left: 0;
}

.top_nav .btn_cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  width: 61px;
  height: 61px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.top_nav .btn_cart i {
  font-size: 34px;
  color: #000;
  text-decoration: none;
  display: block;
}

.top_nav .btn_cart .notice {
  top: 5px;
  right: 5px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  background: #00474c;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.top_nav .btn_cart:hover {
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
}

.main_shoes-slider {
  position: relative;
  margin-top: 80px;
}

.main_shoes-slider .owl-carousel .owl-item.active .item {
  opacity: 1 !important;
}

.main_shoes-slider .owl-carousel .owl-item.active .name_wrapper {
  left: 0 !important;
}

.main_shoes-slider .owl-carousel .owl-item.active .shoe_img {
  left: 0 !important;
}

.main_shoes-slider .owl-carousel .owl-item .item {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 170px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.main_shoes-slider .owl-carousel .owl-item .item .name_wrapper {
  position: relative;
  left: -200%;
  margin-right: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.main_shoes-slider .owl-carousel .owl-item .item .name_wrapper .name {
  max-width: 355px;
  font-size: 110px;
  font-weight: 700;
  line-height: 110px;
  color: #ffffff;
}

.main_shoes-slider .owl-carousel .owl-item .item .name_wrapper .price {
  font-size: 60px;
  font-weight: 700;
  color: #f2b153;
  margin-top: 20px;
}

.main_shoes-slider .owl-carousel .owl-item .item .name_wrapper .btn {
  margin-top: 40px;
  width: 220px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 19;
}

.main_shoes-slider .owl-carousel .owl-item .item .name_wrapper .btn i {
  font-size: 30px;
}

.main_shoes-slider .owl-carousel .owl-item .item .name_wrapper .btn:hover {
  border: 4px solid rgba(255, 255, 255, 0.5);
}

.main_shoes-slider .owl-carousel .owl-item .item .shoe_img {
  position: relative;
  left: -30%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main_shoes-slider .owl-carousel .owl-item .item .shoe_img img {
  min-width: 550px;
  max-width: 640px;
}

.main_shoes-slider .owl-carousel .owl-item .item .color_btns {
  -webkit-transform: translateY(-103%);
          transform: translateY(-103%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 333px;
  left: 75%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main_shoes-slider .owl-carousel .owl-item .item .color_btns button {
  opacity: 0.9;
  margin-bottom: 25px;
  border: none;
  background-color: #fff;
  min-width: 60px;
  height: 60px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_shoes-slider .owl-carousel .owl-item .item .color_btns button:hover {
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.main_shoes-slider .owl-carousel .owl-item .item .color_btns button:last-child {
  margin: 0;
}

.main_shoes-slider .owl-carousel .owl-item .item .color_btns button .circle-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

.main_shoes-slider .owl-dots {
  z-index: 9999;
  background-image: url(../img/line.png);
  width: 79px;
  height: 499px;
  position: absolute;
  top: 0%;
  left: 67%;
}

.main_shoes-slider .owl-dots .owl-dot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: -2px;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -webkit-transform-origin: -480px 0 0;
          transform-origin: -480px 0 0;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  background-clip: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  outline: none;
}

.main_shoes-slider .owl-dots .owl-dot .active-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transform: translateX(-30%) translateY(-30%);
          transform: translateX(-30%) translateY(-30%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.main_shoes-slider .owl-dots .owl-dot.active {
  outline: none;
  border: none;
}

.main_shoes-slider .owl-dots .owl-dot.active .active-circle {
  border: 2px solid #ffffff;
}

.main_shoes-slider .owl-dots .owl-dot:nth-child(1) {
  -webkit-transform-origin: -481px 0 0;
          transform-origin: -481px 0 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.main_shoes-slider .owl-dots .owl-dot:nth-child(2) {
  -webkit-transform-origin: -481px 0 0;
          transform-origin: -481px 0 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.main_shoes-slider .owl-dots .owl-dot:nth-child(3) {
  right: 4px;
}

.main_shoes-slider .owl-dots .owl-dot:nth-child(4) {
  -webkit-transform-origin: -481px 0 0;
          transform-origin: -481px 0 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.main_shoes-slider .owl-dots .owl-dot:nth-child(5) {
  -webkit-transform-origin: -481px 0 0;
          transform-origin: -481px 0 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

button#black .circle-color {
  background-color: #000000;
}

button#blue .circle-color {
  background-color: #00378a;
}

button#yellow .circle-color {
  background-color: #f3e039;
}

button#red .circle-color {
  background-color: #ff7074;
}

button#lblue .circle-color {
  background-color: #00c2ec;
}

button#pink .circle-color {
  background-color: #df86ad;
}

button#purple .circle-color {
  background-color: #755f83;
}

button#gold .circle-color {
  background-color: #c6a14f;
}

@-webkit-keyframes IN {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  60% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  80% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes IN {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  60% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  80% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.OUT {
  -webkit-transform-origin: -480px 0 0;
          transform-origin: -480px 0 0;
  -webkit-animation-name: IN;
  animation-name: IN;
}

@-webkit-keyframes OUT {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes OUT {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.IN {
  -webkit-transform-origin: -480px 0 0;
          transform-origin: -480px 0 0;
  -webkit-animation-name: OUT;
  animation-name: OUT;
}
/*# sourceMappingURL=style.css.map */